@font-face {
   font-family: 'Almaq Refined';
   font-display: swap;
   src: url('file:///C:/Users/kwin/Downloads/web-admin-zynosolutions.github.io-master%20(5)/web-admin-zynosolutions.github.io-master/fonts/Almaq%20Refined/font.ttf');
}
